# compiled output
/dist
/tmp
/coverage
/.nyc_output

# dependencies
node_modules/
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.idea/
_admin/*
BAK/
.DS_Store
.sass-cache
js/.DS_Store
lib/